{% extends 'base.html.twig' %}

{% block title %}Nouveau panneau{% endblock %}

{% block body %}
<div class="page-header">
    <h1 class="page-title">Nouveau panneau</h1>
    <p class="page-description">Créez un nouveau panneau publicitaire</p>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="section-card">
            <div class="section-header">
                <h3 class="section-title"><i class="bi bi-plus-circle"></i> Informations du panneau</h3>
            </div>
            <div>
                {{ form_start(form) }}
                    {{ form_row(form.reference) }}
                    {{ form_row(form.emplacement) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.quartier) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.rue) }}
                        </div>
                    </div>
                    {{ form_row(form.coordonneesGps) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.taille) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.type) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.eclairage) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.etat) }}
                        </div>
                    </div>
                    {{ form_row(form.prixMensuel) }}
                    {{ form_row(form.photo) }}
                    {{ form_row(form.description) }}

                    <div style="display: flex; justify-content: space-between; margin-top: 2rem;">
                        <a href="{{ path('app_panneau_index') }}" class="btn-secondary-modern">
                            <i class="bi bi-arrow-left"></i> Retour
                        </a>
                        <button type="submit" class="btn-primary-modern">
                            <i class="bi bi-check"></i> Créer
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
