{% extends 'base.html.twig' %}

{% block title %}Modifier client{% endblock %}

{% block body %}
<div class="page-header">
    <h1 class="page-title">Modifier client {{ client.nom }}</h1>
    <p class="page-description">Modifiez les informations du client</p>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="section-card">
            <div class="section-header">
                <h3 class="section-title"><i class="bi bi-pencil"></i> Informations du client</h3>
            </div>
            <div>
                {{ form_start(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.type) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.telephone) }}
                        </div>
                    </div>
                    {{ form_row(form.adresse) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.ville) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.pays) }}
                        </div>
                    </div>
                    {{ form_row(form.notes) }}
                    
                    <div style="display: flex; justify-content: space-between; margin-top: 2rem;">
                        <a href="{{ path('app_client_index') }}" class="btn-secondary-modern">
                            <i class="bi bi-arrow-left"></i> Retour
                        </a>
                        <button type="submit" class="btn-primary-modern">
                            <i class="bi bi-check"></i> Enregistrer
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
